.profEx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 3rem;
}

.list-unstyled {
   color: var(--primary-color);
}

.custom-tooltip {
    background-color: var(--background-color);
    border: 2px solid var(--toggle-fg-color);
    padding: 15px;
}

.label {
    color: var(--background-color);
    font-weight: bold;
}

.intro {
    color: var(--background-color);
}

.jobExperience-sm {
    display: none;
}

@media screen and (max-width: 768px){ 
    .profEx {
        margin-bottom: 0 !important;
    }

    .job-experience {
        margin-top: 0 !important;
    }
    .myswiper {
        display: none !important;
    }
    .jobExperience-sm {
        display: block !important;
        margin-top: -8rem !important;
        font-size: smaller !important;
        padding: 0 1rem !important;
    }
    .card-experience {
        width: 100% !important;
        margin: 3rem auto !important;
        
    }

    .table-container {
        font-size: smaller !important;
    }
   
    .education {
        margin-bottom: 3rem !important;
    }

}

@media screen and (max-width: 320px) {
    .jobExperience-sm {
        font-size: smaller !important;
        padding: 0 0.5rem !important;
    }
   
    .education {
        margin: 0 auto !important;
        width: 90% !important;
    }
    
}