.swiper-wrapper {
  width: 100%;
}

.swiper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2.5rem auto !important;
  max-width: 1000px !important;
  transform: translateX(-4rem) !important;
}

.jobExperience {
  width:auto;
  height: auto;
}

