.projectsRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    margin: 2rem auto;
}

.projectCard {
  background-color: var(--secondary-color);
  border: 1px solid var(--background-color);
  color: var(--primary-color);
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 1.5rem auto;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
}

.projectImg{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.projectImg:nth-child(3){
    height: 150px;
}


.card-body{
    margin: 1.5rem auto;
}

.projectsBtn {
   background: #626262;
   background: linear-gradient(165deg,rgb(74, 74, 74) 0%, rgba(25, 25, 25, 0.922) 50%, rgba(34, 34, 34, 0.852) 100%);
   border: 1px solid rgb(91, 91, 91) !important;
   color: white;
   padding: 0.8rem 1rem;
   border-radius: 0.6rem;
   cursor: pointer;
}

.projectsBtn:hover {
    color: var(--toggle-fg-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--toggle-fg-color) !important;
}

.projectGithub {
    color: var(--primary-color) !important;
    padding: 0;
    background-color: transparent !important;
    cursor: pointer;
    border-radius: 50%;
}

.projectGithub:hover {
    color: var(--toggle-fg-color) !important;
    box-shadow: 0 0 5px var(--toolsbtn) !important;
}

@media screen and (max-width: 420px) {
    .projectCard {
        scale: 0.8;
    }    
}