.darkModeToggle {
  top: 20px;
  right: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  visibility: hidden;
}

.toggle + label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primary-color);
}

.toggle + label::before {
  content: "";
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--toggle-bg-color);
  margin-right: 0.5em;
}

@media screen and (max-width: 750px) {
  .icon-toggle {
    display: none;
  }
}

.ToggleLabel::before {
  content: "☀️";
}
.ToggleLabel::after {
  content: "🌙";
}

.toggle + label::after {
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background-color: var(--toggle-fg-color);
  position: absolute;
  left: 0.8em;
  transition: background-color 350ms ease-in-out, transform 350ms ease-in-out;
}

.toggle:checked + label::after {
  transform: translateX(100%);
}

.NavBarCustom {
  background-color: var(--foreground-color);
  color: var(--secondary-color);
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
}
.navbar-nav {
  display: flex;
  justify-content: space-around;
  margin-right: 2rem !important;
  gap: 2rem;
}

.navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/*MAIN */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color) !important;
}

.firstSec {
  padding-top: 5rem !important;
  margin-top: 5rem !important;
  margin-bottom: 4rem !important;
  display: flex;
}

.mainTitle {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.buttonMain {
  background-color: var(--background-color) !important;
  color: var(--foreground-color) !important;
  border: 1px solid #282c34 !important;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 10rem;
}

.buttonMain:hover {
  border: 1px solid #08d323 !important;
  box-shadow: 0 0 12px #08d323 !important;
}


.descriptionMain {
  color: var(--primary-color) !important;
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.openTo {
  background-color: var(--background-color) !important;
  border: 1px solid #08d323 !important;
  color: var(--foreground-color) !important;
  border-radius: 5px;
  font-size: smaller;
  cursor: default !important;
}
.dotOpenTo {
  color: #08d323 !important;
}

@media screen and (max-width: 750px) {
  .firstSec {
    padding-top: 3rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .mainTitle {
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px !important;
    justify-content: center !important;
    margin: 0 auto !important;
  }

  .buttonMainDiv {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto;
  }
  .openTo {
    scale: 0.6;
  }
  h1 {
    font-size: 2rem !important;
  }

  .buttonMain {
    width: 100% !important;
    margin-bottom: 1.5rem;
    padding: 20px 10px !important;
  }
  .cardMain {
    display: none !important;
  }
}

.toolsBtn {
  background-color: transparent !important;
  border: 1px solid var(--toggle-fg-color) !important;
  color: var(--primary-color) !important;
  border-radius: 5px;
  font-size: smaller;
  cursor: default !important;
}
.toolsBtn:hover {
  border: 1px solid #08d323 !important;
  background-color: transparent !important;
  box-shadow: 0 0 12px #08d323 !important;
}

.toolLabel {
  position: absolute;
  bottom: -30px;
  left: 0;
  color: var(--background-color) !important;
  background-color: #72e281;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px 0 5px 0px;
}
.toolLabel2 {
  position: absolute;
  bottom: -60px;
  left: 0;
  background-color: #72e281;
  color: var(--background-color) !important;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px 0 5px 0px;
}

.langButton {
  background-color: transparent !important;
  border: 1px solid var(--background-color) !important;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.langButton:hover {
  box-shadow: 0 0 12px #08d323 !important;
}

.desigButton {
  background-color: transparent !important;
  border: 1px solid var(--background-color) !important;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}
.desigButton:hover {
  box-shadow: 0 0 12px #08d323 !important;
}

hr {
  margin: 20px 0 !important;
  color: grey !important;
}

@media screen and (max-width: 768px) {
  .text-start {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    justify-content: start;
    font-size: smaller;
  }

  .toolsCont {
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.6rem;
    scale: 0.8;
  }
  hr {
    margin: 0.5rem !important;
  }
}

/*CAreer */

.job-experience {
  margin-top: 3rem;
  display: flex;
  gap: 4rem;
  width: auto;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .job-experience {
    scale: 0.8;
    margin-top: 30px !important;
  }
}

.card-experience {
  border-radius: 10px;
  padding: 1rem;
  height: 30vh !important;
  overflow-y: auto;
  width: 500px;
}

.card-experience:hover {
  box-shadow: 0 0 20px #08d323;
  transition: box-shadow 0.3s ease-in-out;
}

.list-experience {
  margin-top: 1.5rem;
}

.list-experience li {
  margin: 0.5rem auto;
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.desc {
  text-align: center !important;
}
.table {
  border-color: 1px solid #ffffff !important;
  box-shadow: #ffffff 0px 0px 4px !important;
}
.table-group-divider {
  color: rgb(0, 0, 0) !important;
}
