/* FOOTER */

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerButton{
    background-color: transparent !important;
    color: #e70c0c !important;
    border:transparent !important;

}

.footerButton:hover {
    background-color: transparent !important;
    color: #e70c0c !important;
    border: transparent !important;
    box-shadow: 0 0 10px #e70c0c !important;

}

.footerLinkedin {
    border: transparent !important;
    background-color: transparent !important;
    color: #0c17e7 !important;
}

.footerLinkedin:hover{
    background-color: transparent !important;
    color: #0c17e7 !important;
    border: transparent !important;
    box-shadow: 0 0 10px #0c17e7 !important;
}

.footerGithub {
    border: transparent !important;
    background-color: transparent !important;
    color: var(--primary-color) !important;
}

.footerGithub:hover{
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border: #08d323 solid 1px !important;
    box-shadow: 0 0 10px #08d323 !important;
}

@media screen and (max-width: 768px) {
.usefulLinks {
    margin-top: 1.5rem !important;
    
}
}