.darkModeToggle {

    top:20px;
    right: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;    
    
}

.toggle{
    visibility: hidden;

}

.toggle + label {
    display: flex; 
    align-items: center;
    cursor: pointer;
    color: var(--primary-color);    
}

.toggle + label::before {
    content: "";
    height: 1em;
    width: 2em;
    border-radius: 1em;
    background-color: var(--toggle-bg-color);
    margin-right: 0.5em;
}

.ToggleLabel::before {
    content: "☀️";
}
.ToggleLabel::after {
    content: "🌙";
}

.toggle + label::after {
    content: "";
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background-color: var(--toggle-fg-color);
    position: absolute;
    left: 0.80em;
    transition: background-color 350ms ease-in-out, transform 350ms ease-in-out;

}

.toggle:checked + label::after {
    transform: translateX(100%);    
}





.NavBarCustom {
  background-color: var(--foreground-color);

  color: var(--secondary-color);
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
}
.navbar-nav {
  display: flex;
  justify-content: space-around;
  margin-right: 2rem !important;
  gap: 3rem;
}


/*MAIN */

p, h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color) !important;
}

.buttonMain {
    background-color: var(--background-color) !important;
    color: var(--foreground-color) !important;
    border: 1px solid #282c34 !important;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 10rem;
}

.buttonMain:hover {
    border: 1px solid #08d323 !important;
    box-shadow: 0 0 12px #08d323  !important;
}

.openTo {
    background-color: var(--background-color) !important;
    border: 1px solid #08d323 !important;
    color: var(--foreground-color) !important;
    border-radius: 5px;
    font-size: smaller;
    cursor:default !important;
}
.dotOpenTo{
    color: #08d323 !important;
}

.toolsBtn{
    background-color: transparent !important;
    border: 1px solid var(--toggle-fg-color) !important;
    color: var(--primary-color) !important;
    border-radius: 5px;
    font-size: smaller;
    cursor:default !important;

}
.toolsBtn:hover{
    border: 1px solid #08d323  !important;
    background-color:transparent !important;
    box-shadow: 0 0 12px #08d323  !important;
    
}

.langButton {
    background-color: transparent  !important;
    border: 1px solid var(--background-color) !important;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden;
}

.langButton:hover {
    border: 1px solid #08d323 !important;
    box-shadow: 0 0 12px #08d323 !important;
}

/*CAreer */



.job-experience {
    margin-top: 3rem;
    display: flex;
    gap: 4rem;
    width: auto;
}

.card-experience {
    border-radius: 10px;
    padding: 1rem;
    height: 30vh !important;
    overflow-y: auto;
    width: 500px;
}

.card-experience:hover {
    box-shadow: 0 0 20px #08d323;
    transition: box-shadow 0.3s ease-in-out;
}

.list-experience{ 
    margin-top: 1.5rem;
}

.list-experience li {
    margin: 0.5rem auto;
}


